# will ignore all the usual suspects for Intellij and Eclipse within a Maven reactor build
# @author : Thabo Matjuda
# @since : 11-03-2020


# ========================================================================================
# IntelliJ IDEA
# ========================================================================================
.idea/*
*/*/.idea/*
*/.idea/*
*.iml
*.iws


# ========================================================================================
# Mac OS Files
# ========================================================================================
.DS_Store
._.DS_Store
.DS_Store?
._*
._.*


# ========================================================================================
# Maven
# ========================================================================================
log/
target/